# Python virtual environment
venv/
env/
.env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Project specific
*.log
logs/

.cache/
wheels/

# Distribution / packaging
dist/
build/
*.egg-info/ 
code/models
node_modules
